@import '~@fluentui/react/dist/sass/References.scss';

.rollingText {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.container {
    font-family: $ms-font-family-fallbacks;

  }
}

.pauseOnHover {
  /* Example: pause animation on hover */
  &:hover {
    animation-play-state: paused !important;
  }
}

.welcome {
  text-align: center;
}



.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}